@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#overlay {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @media only screen and (max-device-width: 512px) {
    font-size: 3.5em;

    #pipe {
      width: 100%;
    }

    .CodeMirror-lines {
      padding-top: 8px;
    }

    .CodeMirror-line {
      padding-left: 16px;
    }
  }

  [title] {
    cursor: help;

    &.nohelp {
      cursor: auto;
    }
  }

  .disabled {
    cursor: not-allowed;

    i.material-icons {
      color: gray;
      cursor: not-allowed;
    }
  }

  #header, #footer {
    display: flex;
    flex-flow: row;
    justify-content: center;

    i.material-icons,
    .icon {
      cursor: pointer;
      font-size: 2em;
      height: 1em;
      margin: 0 8px;
      width: 1em;
    }

    .disabled {
      display: none;
    }
  }

  #header {
    h1 {
      flex: auto;
      margin: 0;
    }
  }

  #inputs {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: flex-start;
    overflow: auto;

    span,
    i {
      padding-bottom: 8px;
    }

    section {
      align-items: flex-end;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      width: 100%;
    }

    #pipe .CodeMirror {
      max-height: 20em;
    }

    #h,
    #s,
    #v {
      align-content: flex-end;
      align-items: center;
      display: flex;
      flex-flow: row;
      margin-bottom: 16px;

      label {
        margin-right: 8px;
      }

      .CodeMirror {
        min-height: 1em;
      }
    }

    .CodeMirror {
      height: auto;
    }
  }

  #allowed_db_range {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  #allowed_db_range_input {
    align-items: center;
    display: flex;
    flex-flow: row;
    margin: 0 8px;

    input {
      max-width: 100px;
    }
  }

  .spacer {
    flex: auto;
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }
  }

  a.help {
    font-size: 0.4em;
    vertical-align: super;
  }

  a.help::before {
    content: '?';
  }
}
