@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@media print {
  #overlay {
    display: none;
  }

  @page {
    margin: 0;
    size: landscape;
  }
}

#overlay {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  opacity: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  h1 {
    margin: 0;
  }

  [title] {
    cursor: help;

    &.nohelp {
      cursor: auto;
    }
  }

  .disabled {
    cursor: not-allowed;

    i.material-icons {
      color: gray;
      cursor: not-allowed;
    }
  }

  input:disabled,
  textarea:disabled {
    cursor: not-allowed;
  }

  #inputs {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: flex-start;
    right: 0;
    top: 0;

    span,
    i {
      padding-bottom: 8px;
    }

    section {
      align-items: flex-end;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }

    textarea {
      resize: none;
    }

    #h,
    #s,
    #v {
      align-content: flex-end;
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 16px;

      label {
        margin-right: 8px;
      }
    }

    .CodeMirror {
      height: auto;
    }
  }

  #media {
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    i.material-icons,
    .icon {
      cursor: pointer;
      font-size: 2em;
      margin: 0 8px;
    }
  }

  #allowed_db_range {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  #allowed_db_range_input {
    align-items: center;
    display: flex;
    flex-flow: row;
    margin: 0 8px;

    input {
      max-width: 100px;
    }
  }

  .spacer {
    flex: auto;
  }

  a.help {
    font-size: small;
    vertical-align: super;

    &::before {
      content: '?';
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
    }
  }
}
