@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#inputs {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;

    span, i {
        padding-bottom: 8px;
    }
}

#media {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 32px;
    position: absolute;
    width: 100%;

    i.material-icons {
        cursor: pointer;
        display: 'none';
        font-size: 36px;
    }
}

.spacer {
    flex: 1;
}
