@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media print {
    #overlay {
        display: none;
    }

    @page {
        margin: 0;
        size: landscape;
    }
}

#overlay {
    opacity: 0;

    [title] {
        cursor: help;
    }
}

#inputs {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 0px 16px;
    position: absolute;
    right: 0;
    top: 0;

    span, i {
        padding-bottom: 8px;
    }

    section {
        align-items: flex-end;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }
}

#media {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 32px;
    position: absolute;
    width: 100%;

    i.material-icons {
        cursor: pointer;
        display: 'none';
        font-size: 36px;
        margin: 0 8px;
    }
}

#allowed_db_range {
    align-items: center;
    display: flex;
    flex-flow: row;
}

#allowed_db_range_input {
    align-items: center;
    display: flex;
    flex-flow: row;
    margin: 0 8px;
}

.spacer {
    flex: 1;
}

a.help {
    font-size: small;
    vertical-align: super;

    &::before {
        content: "?";
    }

    &:link, &:visited, &:hover, &:active {
        color: white;
    }
}
