$font-family: 'FiraCode Nerd Font', FiraCode, Roboto, Helvetica;

@import 'overlay/overlay.scss';

body {
  background-color: black;
  color: white;
  cursor: wait;
  font-family: $font-family;
  margin: auto;
  overflow: hidden;

  &.data {
    cursor: auto;
  }

  &.data.cursor-inactive {
    cursor: none;
  }
}

input,
textarea {
  font-family: $font-family;
}
