$font-family: 'FiraCode Nerd Font', FiraCode, Roboto, Helvetica;

@import 'overlay/overlay.scss';

body {
  background-color: black;
  color: white;
  cursor: wait;
  font-family: $font-family;
  margin: auto;
  overflow: hidden;

  &.data {
    cursor: auto;
  }

  &.data.cursor-inactive {
    cursor: none;
  }

  .hint-description {
    color: black;
    position: absolute;
    min-height: 20px;
    width: 200px;

    ol {
      list-style: none;
      padding-left: 16px;
    }

    .arg {
      display: flex;
      flex-flow: row nowrap;

      .name {
        color: blue;
        font-weight: bolder;
        padding-right: 8px;
      }
    }
  }

  video {
    display: none;
  }
}

input,
textarea {
  font-family: $font-family;
}
